:root {
  // Base
  --base-black: #0C0D0E;
  --base-white: #FFF;

  // Grayscale
  --grayscale-60: #9EA5A1;
  --grayscale-55: #9E9F9F;
  --grayscale-15: #292A2A;
  --grayscale-10: #202121;

  // Primary
  --primary-green: #4ADC8C;

  // Secondary
  --secondary-green: #4ADCCA;
  --secondary-dark-green: #0C1E15;

  // Transparent
  --transparent-dark-green-50: rgb(12 30 21 / 50%);
}
