@mixin heading1 {
  font-family: var(--font-primary);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

%heading1 {
  @include heading1;
}

@mixin heading2 {
  font-family: var(--font-primary);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

%heading2 {
  @include heading2;
}

@mixin heading3 {
  font-family: var(--font-primary);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

%heading3 {
  @include heading3;
}

@mixin heading4 {
  font-family: var(--font-primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

%heading4 {
  @include heading4;
}

@mixin heading5 {
  font-family: var(--font-primary);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

%heading5 {
  @include heading5;
}

@mixin heading6 {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

%heading6 {
  @include heading6;
}

@mixin heading7 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading7 {
  @include heading7;
}

@mixin heading8 {
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading8 {
  @include heading8;
}

@mixin heading9 {
  font-family: var(--font-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

%heading9 {
  @include heading9;
}

@mixin body-l {
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

%body-l {
  @include body-l;
}

@mixin body-m {
  font-family: var(--font-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

%body-m {
  @include body-m;
}

@mixin body-s {
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

%body-s {
  @include body-s;
}

@mixin body-xs {
  font-family: var(--font-primary);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

%body-xs {
  @include body-xs;
}

@mixin body-xxs {
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

%body-xxs {
  @include body-xxs;
}
