@use 'colors';
@use 'reset';
@use 'media';
@use 'mixins';
@use 'constants';
@use 'typography';

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

html {
  background-color: var(--base-black);
  color: var(--base-white);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  max-width: 100vw;
  min-height: 100vh;
  transform-origin: center;
  transition: transform 0.3s ease;
  width: 100%;
}

.Toastify__close-button--light {
  color: var(--base-white);
}
