@import '@styles/mixins';
@import "@styles/media";
@import '@styles/typography';

.root {
  padding-top: 80px;
}

.logo {
  margin: 32px;
  width: 166px;
}

.title {
  @include heading3;
  margin: 20px;

  @include tablet-landscape {
    @include heading1;
  }
}

.text {
  @include body-m;
  margin: 20px;

  @include tablet-landscape {
    @include body-l;
  }
}

.diagram {
  max-width: 600px;
  width: 100%;
}

.icons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.iconWrapper {
  @include body-xxs;
  @include centralize;
  flex-direction: column;
  row-gap: 12px;
}
