@import "@styles/typography";

.root {
  @include heading8;

  gap: 4px;
  display: grid;
  height: fit-content;

  color: var(--grayscale-60);
}

.input {
  height: 40px;
  min-width: 0;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--grayscale-10);

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    background-color: var(--grayscale-10) !important;
  }

  outline: none;

  &:focus {
    border-color: var(--primary-green);
  }
}

.hasError .input {
  border-color: var(--error);
}

.error {
  @include heading8;
  color: var(--error);
}


