@import '@styles/mixins';
@import "@styles/media";
@import '@styles/typography';

.root {
  @include side-paddings;

  position: relative;

  padding-top: 64px;
  padding-bottom: 64px;

  @include tablet-landscape {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.content {
  z-index: 1;
  position: relative;

  margin: 0 auto;

  width: 100%;
  max-width: 1000px;
}

.title {
  @include heading4;

  margin-bottom: 64px;
  text-align: center;

  @include tablet-portrait {
    margin-bottom: 32px;
  }

  @include tablet-landscape {
    @include heading2;
    margin-bottom: 94px;
  }

  @include desktop {
    margin-bottom: 57px;
  }
}

.tiles {
  gap: 32px;
  display: grid;
  grid-auto-rows: 256px;
  margin-top: 32px;

  @include tablet-landscape {
    grid-template-columns: 1fr 1fr;
  }
}

.earlyAccess {
  margin-top: 32px;
}

.glowCirlce {
  width: 800px;
  height: 800px;
  position: absolute;

  display: none;

  @include tablet-landscape {
    display: block;
  }
}

.left {
  top: 100px;
  left: -400px;
}

.right {
  bottom: 100px;
  right: -400px;
}

.glow {
  opacity: .4;
}
